<%- include("partials/header.ejs") %>
  <body>
    <h1>Post</h1>
    <% if (locals.post) { %>
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <p><em><%= post.timeText %></em></p>
    <% } %>
  </body>
</html>
