<div>
  <div class="footer flex">
    <div class="social-list">
      <a class="socials" href="https://github.com/kaimikan"
        ><img src="svg/github/icons8-github-30.svg" /> GitHub</a
      >
      <a class="socials" href="https://instagram.com/kai.mi.kan"
        ><img src="svg/insta/icons8-instagram-30.svg" /> Instagram</a
      >
    </div>
    <span id="copyright">© kaimikan 2024</span>
  </div>
</div>
