<span class="site-reroute">
  <span>
    <!-- this can be in the footer -->
    Check the
    <a href="<%= art.siteURL %>" target="”_blank”"
      >Metropolitan Art Museum Link</a
    >
    for more info.
  </span>
</span>
