<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Metropolitan Art Museum Project</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <% if (locals.art) { %>
    <span class="title-section">
      <h1><%= art.title %></h1>
      <h3><em><%= art.date %></em></h3>
    </span>
    <% } %>
  </body>
</html>
