<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Review Archive</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <span class="title-section">
      <h1>Kai's Book Review Archive</h1>
      <h3>
        <em>A collection of book reviews</em>
      </h3>
    </span>
  </body>
</html>
